<% if user_signed_in? %>
<table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Email Address</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Twitter</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
<div id="friends">
  <% @friends.each do |friend| %>
    <% if friend.user == current_user %>
      <tr>
        <%= render friend %>
        <td>
          <%= link_to "Delete", friend, data: { "turbo-method": :delete }, class: "btn btn-outline-danger btn-sm" %>
        </td>
      </tr>
    <% end %>
  <% end %>
</div>
  </tbody>
</table>

<%= link_to "Add New friend", new_friend_path, class: "btn btn-secondary" %>

<% else %>

<h1>Hello World!</h1>
This is first Rails Webpage..!!

<% end %>